<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.response-toggle {
            width: 100px; /* Set a fixed width for the button */
            background-color: rgb(70, 109, 55);
            color: white;
            padding: 5px 15px;
            border-radius: 25px;
            font-size: 13px;
            border-color: white;
        }
</style>
<style>
    /* Style adjustments */
    .modal-content {
      border-radius: 10px;
    }
    .modal-header {
      background-color: #4B49AC;
      color: white;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
    }
    .modal-footer {
      border-top: none;
      border-radius: 0 0 10px 10px;
    }
    .modal-body .form-group {
      margin-bottom: 10px;
    }
    .modal-body label {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('partials/_navbar'); %>   
     <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="/images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="/images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->



      <!-- partial:partials/_sidebar.html -->
      <%- include('partials/_sidebar'); %>
      <!-- partial -->





      <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bordered table</h4>
                <p class="card-description">
                    <button id="openModalBtn" class="btn btn-primary">Add Coupon</button>
                </p>
                <div class="table-responsive pt-3">
                  <table id="couponTable" class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Coupon code</th>
                              <th>Discount type</th>
                              <th>Expiration time</th>
                              <th class="text-center">Min.Purchase amount</th>
                              <th class="text-center">Usage limit</th>
                              <th class="text-center">Discount amount/percentage</th>
                              <th class="text-center">edit/Delete</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% const couponsPerPage = 3; %>
                        <% const totalPages = Math.ceil(coupons.length / couponsPerPage); %>
                        <% const currentPage = parseInt(req.query.page, 10) || 1; %>
                        <% const startIndex = (currentPage - 1) * couponsPerPage; %>
                        <% const endIndex = Math.min(startIndex + couponsPerPage, coupons.length); %>
                      
                        <% const displayedCoupons = coupons.slice(startIndex, endIndex); %>
                      
                        <% displayedCoupons.forEach((coupon, index) => { %>
                          <tr>
                            <td><%= coupon.couponCode %></td>
                            <td><%= coupon.discountType %></td>
                            <td><%= coupon.expirationTime.toDateString() %></td>
                            <td class="text-center">₹ <%= coupon.minPurchaseAmount %></td>
                            <td class="text-center"><%= coupon.usageLimit %></td>
                            <td class="text-center">
                              <% if (coupon.discountType.toLowerCase() === 'percentage') { %>
                                <%= coupon.discountAmount %>% 
                              <% } else { %>
                                ₹<%= coupon.discountAmount %>
                              <% } %>
                            </td>
                            <td  class="text-center">
                              <button type="button" class="edit-button" title="Edit" data-toggle="tooltip" onclick="openEditOverlay('<%= coupon._id %>','<%= coupon.discountType %>',' <%= coupon.minPurchaseAmount %>','<%= coupon.description %>','<%= coupon.discountAmount %>','<%= coupon.usageLimit %>')">
                                <i class="material-icons" style="color: #FFC107; padding: 0px 10px;">&#xE254;</i>
                              </button>
                              <form id="deleteCouponForm_<%= coupon._id %>" action="/admin/deleteCoupon" method="POST" onsubmit="deleteCoupon(event, '<%= coupon._id %>')" style="padding-top: 20px;">
                                <input type="hidden" name="couponId" value="<%= coupon._id %>">
                                <button type="submit" class="delete" title="Delete" data-toggle="tooltip">
                                  <i class="material-icons" style="color: #E34724; padding: 0px 10px;">&#xE872;</i>
                                </button>
                              </form>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
                  </table>

                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>
              </div>
              
            </div>
        </div>
    </div>
    
      
      <!--Add coupon Modal -->
      <div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCouponModalLabel">Add new coupon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCouponForm" action="/admin/addCoupon">

                        <div class="form-group">
                            <label for="discountType">Discount type</label>
                            <select class="form-control" id="discountType" name="discountType">
                                <option>Percentage</option>
                                <option>Fixed amount</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="discountAmount">Discount amount/percentage</label>
                            <input type="number" class="form-control" id="discountAmount" name="discountAmount">
                            <div id="discountAmountError" class="text-danger"></div>
                        </div>
                        <div class="form-group">
                            <label for="minPurchaseAmount">Minimum purchase amount</label>
                            <input type="number" class="form-control" id="minPurchaseAmount" name="minPurchaseAmount">
                            <div id="minPurchaseAmountError" class="text-danger"></div>
                        </div>
                        <div class="form-group">
                            <label for="usageLimit">Usage limit</label>
                            <input type="number" class="form-control" id="usageLimit" name="usageLimit">
                            <div id="usageLimitError" class="text-danger"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitCoupon">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
      




      
<!--Edit Coupon Modal -->
<div class="modal fade" id="editCouponModal" tabindex="-1" role="dialog" aria-labelledby="editCouponModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="editCouponModalLabel">Edit coupon</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form id="editCouponForm">
           <input type="hidden" id="editCouponId" name="editCouponId">
           <div class="form-group">
             <label for="editDiscountType">Discount Type</label>
             <select class="form-control" id="editDiscountType" name="editDiscountType">
               <option>Percentage</option>
               <option>Fixed amount</option>
             </select>
           </div>
           <div class="form-group">
             <label for="editMinPurchaseAmount">Minimum Purchase Amount</label>
             <input type="number" class="form-control" id="editMinPurchaseAmount" name="editMinPurchaseAmount">
           </div>

           <div class="form-group">
             <label for="editDiscountAmount">Discount Amount</label>
             <input type="number" class="form-control" id="editDiscountAmount" name="editDiscountAmount">
           </div>
           <div class="form-group">
            <label for="editusageLimit">Usage Limit</label>
            <input type="number" class="form-control" id="editusageLimit" name="editusageLimit">
          </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-primary" id="submitEditCoupon">Submit</button>
       </div>
     </div>
  </div>
 </div>
 
 
      
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




      <script>
        async function deleteCoupon(event, couponId) {
            event.preventDefault();
            
            try {
                const confirmation = await Swal.fire({
                    title: 'Confirmation',
                    text: 'Are you sure you want to delete this coupon?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it'
                });
    
                if (confirmation.isConfirmed) {
                    const response = await fetch('/admin/deleteCoupon', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ couponId })
                    });
    
                    const data = await response.json();
    
                    if (data.success) {
                        // Coupon deleted successfully
                        Swal.fire({
                            title: 'Success',
                            text: 'Coupon deleted successfully',
                            icon: 'success'
                        }).then(() => {
                            // Reload the page
                            location.reload();
                        });
                    } else {
                        // Error deleting coupon
                        Swal.fire({
                            title: 'Error',
                            text: data.message || 'Error deleting coupon',
                            icon: 'error'
                        });
                    }
                }
            } catch (error) {
                // Handle fetch error
                console.error('Error deleting coupon:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Error deleting coupon',
                    icon: 'error'
                });
            }
        }
    </script>
    

      <script>
        function openEditOverlay(couponId, discountType, minPurchaseAmount, description, discountAmount,usageLimit) {
            console.log(couponId,discountType,description,discountAmount);
            console.log(typeof(minPurchaseAmount))
            document.getElementById('editCouponId').value = couponId;
            document.getElementById('editDiscountType').value = discountType;
            document.getElementById('editMinPurchaseAmount').value = parseInt(minPurchaseAmount);
            document.getElementById('editDiscountAmount').value = discountAmount;
            document.getElementById('editusageLimit').value = usageLimit;
            $('#editCouponModal').modal('show'); 
        }
        </script>
        

        <script>
          document.addEventListener("DOMContentLoaded", function() {
              // Add event listener to the submit button
              document.getElementById('submitEditCoupon').addEventListener('click', function() {
                  const editCouponId = document.getElementById('editCouponId').value;
                  const editDiscountType = document.getElementById('editDiscountType').value;
                  const editMinPurchaseAmount = document.getElementById('editMinPurchaseAmount').value;
                  const editDiscountAmount = document.getElementById('editDiscountAmount').value;
      
                  // Construct form data object
                  const formData = {
                      editCouponId: editCouponId,
                      editDiscountType: editDiscountType,
                      editMinPurchaseAmount: editMinPurchaseAmount,
                      editDiscountAmount: editDiscountAmount
                  };
      
                  fetch('/admin/updateCoupon', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                      },
                      body: JSON.stringify(formData)
                  })
                  .then(response => response.json())
                  .then(data => {
                      // Handle server response
                      if (data.success) {

                        Swal.fire({
                            title: 'Success!',
                            text: 'Coupon updated successfully',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            // Close the modal
                            $('#editCouponModal').modal('hide');
                        }).then(() => {
                            // Reload the page
                            location.reload();
                        });
                    } else {
                        // Coupon update failed
                        // Show an error message using SweetAlert
                        Swal.fire({
                            title: 'Error!',
                            text: 'Failed to update coupon. Please try again later.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }

                  })
                  .catch(error => {
                      // Handle fetch error
                      console.error('Error updating coupon:', error);
                  });
              });
          });
      </script>
      
        
      







 


<!-- Script to show the modal and handle form submission -->
<script>
  $(document).ready(function () {
      // Function to show the modal
      $('#openModalBtn').click(function () {
          $('#addCouponModal').modal('show');
      });

      // Submit form when button is clicked
      $('#submitCoupon').click(function (event) {
          // Prevent default button behavior
          event.preventDefault();

          // Call submitForm function to handle form submission
          submitForm();
      });
  });

  // Function to submit form data
  function submitForm() {
      // Serialize form data
      const formData = $('#addCouponForm').serialize();

      // Make POST request using fetch
      fetch('/admin/addCoupon', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: formData
      })
          .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(data => {
              // Handle success
              console.log('Success:', data);
              // Show SweetAlert for success
              Swal.fire({
                  title: 'Success!',
                  text: 'Coupon created successfully.',
                  icon: 'success',
                  confirmButtonText: 'OK'
              }).then(() => {
                  // Reload the page
                  window.location.reload();
              });
          })
          .catch(error => {
              // Handle error
              console.error('Error:', error);
              // Show SweetAlert for error
              Swal.fire({
                  title: 'Error!',
                  text: 'Enter proper inputs.',
                  icon: 'error',
                  confirmButtonText: 'OK'
              });
          });

      // Close the modal
      $('#addCouponModal').modal('hide');
  }
</script>



    
        
        
      
      
      



    



      
      
























      <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <!-- <script src="/vendors/datatables.net/jquery.dataTables.js"></script> -->
  <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <script src="/js/Chart.roundedBarCharts.js"></script>
</body>
</html>